*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding-top: 10pt;
    padding-right: 10pt;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: yellow;
    color: black;
}
ul li.active a{
    background-color: yellow;
    color: black;
}
.logo img{
    float: left;
    width: 15%;
    height: auto;
}
.main{
    max-width: 1300px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 5vw;
}

@media screen and (max-width:800px) {
    header{
        width:100%;
    }
    .logo img{
        width: 40%;
    }

}

@media screen and (max-width: 470px){
    .btn{
        width: 20%;
        padding: 5pt 15pt;
    }
    .title h1{
        font-size: 50px;
    }
}